html,body {
    background: rgb(33,33,33);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    /* for monaco */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1 {
    text-align: center;
}
#sprotty-canvas {
    display: block;
    text-align: center;
    flex-grow: 1;
    background-color: #1e1e1e;
    width:100%;
}
#page-wrapper {
    display: flex;
    max-width: 2000px;
    margin: 4px auto;
    padding: 4px;
    min-height: 80vh;
    justify-content: center;
}
#page-wrapper .half {
    display: flex;
    width: 40vw;
}
.build {
    display: block;
    margin: 8px auto;
    width: 300px;
    height: 30px;
    background: none;
    border: 2px #fff solid;
    color: #fff;
    transition: 0.3s;
    font-size: 1.2rem;
    border-radius: 4px;
}
.build:hover {
    border-color: #6cf;
    color: #6cf;
    cursor: pointer;
}
.build:active {
    color: #fff;
    border-color: #fff;
}
footer {
    text-align: center;
    color: #444;
    font-size: 1.2rem;
    margin-bottom: 16px;
}
@media(max-width: 1000px) {
    #page-wrapper {
        display: block;
    }
    #page-wrapper .half {
        display: block;
        width: auto;
    }
    #minilogo-canvas {
        margin-top: 32px;
    }
    #page-wrapper {
        min-height: auto;
    }
}

*:focus, *:focus-visible {
    outline: none;
}

/* for monaco */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
}

#monaco-editor-root {
    flex-grow: 1;
}

#status {
    color: red;
}
svg.sprotty-graph {
    margin-top: 15px;
    width: 100%;
    height: 100%;
    border-style: none;
    border-width: 0px;
    stroke: transparent;
    stroke-width: 0px;
}

.sprotty-popup {
    background: none;
    border-radius: 0px;
    border: none;
    min-width: 24px;
}

.sprotty-popup svg {
    width: 24px;
    height: 24px;
}

.sprotty-node {
    stroke: #d4d4d4;
    stroke-width: 2px;
    fill: none;
}

.sprotty-label {
    fill: #d4d4d4;
    font-size: 12px;
}
.sprotty-label.selected {
    fill: #3794ff;
}

.sprotty-edge {
    fill: none;
    stroke: #d4d4d4;
    stroke-width: 2;
}

.intersection {
    fill: #d4d4d4;
}

.sprotty-node.mouseover {
    stroke: #3794ff;
}

.sprotty-node.selected {
    stroke: #3794ff;
}

.sprotty-edge.selected{
    stroke: #3794ff;
    stroke-width: 2;
}
.intersection.selected{
    fill: #3794ff;
}